<h4>
  [ Welcome to the Thefacebark ]
</h4>

<p>
  Thefacebark is an online directory that connects dogs through their Launch Academy owners.
</p>
<p>
  We have recently opened up Thefacebark at the following schools:
</p>
<p>
  Woofter Polytechnic Institute |
  Barklee College of Music |
  University of Maryland, College Bark |
  New Yorkshire University |
  University of Mastiffchusetts
</p>
