<div class="home">
  <h3>
    [ Welcome to the Thefacebark ]
  </h3>

  <p>
    Thefacebark is an online directory that connects dogs through their Launch Academy owners.
    Create an account with your actual Facebook login, then create a profile for your dog here.
  </p>
  <p>
    We have recently opened up Thefacebark at the following schools:
  </p>
  <p class="list">
    Woofter Polytechnic Institute |
    Barklee College of Music |
    University of Maryland, College Bark |
    New Yorkshire University |
    University of Mastiffchusetts
  </p>

  <p>
    You can use Thefacebark to:
  </p>
  <ul>
    <li>Look at cute dogs</li>
    <li>Live vicariously through your own dog</li>
    <li>Yap at other dogs</li>
    <li>Quote Wedding Crashers</li>
    <li>Remember 2004 era facebook before newsfeed and high school kids were allowed</li>
  </ul>
</div>
