body {
  margin-top: 0;
  width: 900px;
  font-family: "Lucida Grande";
  border: 1px solid #3b5998;
  position: relative;
}

.group:before, .group:after {
  content: "";
  display: table;
}

.group:after {
    clear: both;
}

a {
  text-decoration: none;
  color: #4bb1eb;
}

p {
  font-size: 12px;
}

header {
  border-bottom: 1px solid #3b5998;
  background: rgba(246,246,246,1);
  background: -moz-linear-gradient(left, rgba(246,246,246,1) 0%, rgba(237,237,237,1) 0%, rgba(180,189,210,1) 10%, rgba(59,89,152,1) 31%);
  background: -webkit-gradient(left top, right top, color-stop(0%, rgba(246,246,246,1)), color-stop(0%, rgba(237,237,237,1)), color-stop(10%, rgba(180,189,210,1)), color-stop(31%, rgba(59,89,152,1)));
  background: -webkit-linear-gradient(left, rgba(246,246,246,1) 0%, rgba(237,237,237,1) 0%, rgba(180,189,210,1) 10%, rgba(59,89,152,1) 31%);
  background: -o-linear-gradient(left, rgba(246,246,246,1) 0%, rgba(237,237,237,1) 0%, rgba(180,189,210,1) 10%, rgba(59,89,152,1) 31%);
  background: -ms-linear-gradient(left, rgba(246,246,246,1) 0%, rgba(237,237,237,1) 0%, rgba(180,189,210,1) 10%, rgba(59,89,152,1) 31%);
  background: linear-gradient(to right, rgba(246,246,246,1) 0%, rgba(237,237,237,1) 0%, rgba(180,189,210,1) 10%, rgba(59,89,152,1) 31%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f6f6f6', endColorstr='#3b5998', GradientType=1 );
  height: 75px;
  h1 {
    margin: 0 100px 0 0;
    padding-top: 15px;
    color: #EEE;
    text-align: right;
    font-size: 40px;
  }
}

footer {
  position: absolute;
  bottom: 0;
  height: 15px;
  width: 100%;
  background-color: #3b5998;
  color: #FFF;
  p {
    text-align: right;
    margin: 0 5px;
  }
}

#left-panel {
  float: left;
  border: 1px dotted #3b5998;
  margin-top: 1px;
  margin-left: 1px;
  width: 110px;
  height: 150px;
  display: inline-block;
  a {
    font-size: 11px;
  }
  p {
    margin-top: 0;
    margin-bottom: 0;
  }
}

.body-container {
  float: left;
  margin-top: 1px;
  margin-bottom: 25px;
  margin-left: 1px;
  width: 783px;
  border: 1px solid #3b5998;
}

.banner {
  width: 100%;
  background-color: #3b5998;
  color: #FFF;
  padding-bottom: 2px;
  p {
    margin-top: 0;
    margin-bottom: 0;
  }
}


.picture,
.wall,
.connection {
  float: left;
  border: 1px solid #3b5998;
  width: 48%;
  margin-left: 10px;
  margin-top: 15px;
  margin-bottom: 2px;
}

.friends, .information {
  float:right;
  border: 1px solid #3b5998;
  width: 48%;
  margin-top: 15px;
  margin-right: 10px;
  margin-bottom: 2px;
}

.picture {
  height: 420px;
}

.information {
  min-height: 420px;
}

.wall p.wall-items {
  padding: 5px;
}


.friend-item {
  float: left;
  margin-left: 10px;
  width: 110px;
  .name-label {
    margin-top: 10px;
    text-align: center;
  }
  p {
    text-align: center;
  }
}

.history-list, .edit-box {
  margin: 5px auto;
  width: 90%;
  border: 1px solid #3b5998;
}
